.headding .star {
  position: absolute;
  font-size: 30px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.headding::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: white;
}
