<footer class="bg-secondary text-white py-8 ">
    <div class="container mx-auto">
        <div class="footer-content">
            <div class="grid md:grid-cols-2 xl:grid-cols-3 text-center">
                <div class="location flex flex-col gap-4">
                    <h4 class="capitalize text-3xl">location</h4>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
                <div class="social-media">
                    <div class="social">
                        <h4 class="text-2xl capitalize">about web</h4>
                        <div class="flex gap-4 justify-center mt-5">

                            <span
                                class="p-4 rounded-full border border-white flex justify-center items-center text-[22px]">
                                <i class="fa-brands fa-facebook-f"></i>
                            </span>
                            <span
                                class="p-4 rounded-full border border-white flex justify-center items-center text-[22px]">
                                <i class="fa-brands fa-youtube"></i>
                            </span>
                            <span
                                class="p-4 rounded-full border border-white flex justify-center items-center text-[22px]">
                                <i class="fa-brands fa-twitter"></i>
                            </span>
                            <span
                                class="p-4 rounded-full border border-white flex justify-center items-center text-[22px]">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="about">
                    <h4 class="text-4xl uppercase mb-4">abotu freelancer</h4>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</footer>