<section class="pt-20 relative">
    <div class="heading w-fit mx-auto mt-20 text-secondary font-bold text-5xl capitalize">
        <app-heading [backgroundColor]="'bg-white'">
            <p>gallery component</p>
        </app-heading>
    </div>
    <div class="gallery-contnet pt-22 pb-20">
        <div class="container mx-auto">
            <div class="content grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
                @for (imgUrl of images; track $index) {
                <app-card (click)="displayLayoutImage()" [imgSrc]="imgUrl"
                    (urlSending)="imageLayout = $event"></app-card>
                }
            </div>
        </div>
    </div>
    @if(showModel){
    <div #overlay (click)="closeLayoutImage($event)"
        class="overlay flex justify-center items-center absolute h-full w-full start-0 end-0 top-0 bottom-0 bg-black/20">

        <div class="img overflow-hidden flex w-1/3 justify-center items-center" (click)="$event.stopPropagation()">
            <img #image class="rounded-xl w-full" [src]="imageLayout" alt="">
        </div>

    </div>
    }
</section>