<section class="home bg-primary  h-screen">
    <div class="container mx-auto  h-full">
        <div class="home-content flex h-full  flex-col gap-6 justify-center items-center">
            <div class="image">
                <img src="./image/avataaars.svg" class="w-full max-w-[300px]" alt="home image">
            </div>
            <div class="heading text-white font-bold text-5xl capitalize">
                <app-heading [backgroundColor]="'bg-primary'">
                    <p>start framework</p>
                </app-heading>
            </div>
            <p class="text-[20px] text-white font-bold">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>